<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsoruce.springboot.mapper.UserMapper">
	<!-- //保存一个对象 -->
	<!-- void save(User user); -->
	<!-- 保存时返回自增id 
		useGeneratedKeys="true" 生成自增id
		 keyColumn="id" 获取数据库表中id字段
		 keyProperty="id" 放入User对象的id属性中 
	-->
     <insert id="save" parameterType="cn.itsoruce.springboot.domian.User"
     	useGeneratedKeys="true" keyProperty="id" keyColumn="id"
     >
     	insert into t_user(name) values(#{name})
     </insert>

	<!-- //加载所有的对象 -->
	<!-- List<User> loadAll(); -->
	<select id="loadAll" resultType="User">
		select * from t_user
	</select>
	
</mapper>